/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
a{
    text-decoration: none;
}
.white{
    color: white;
}

.bc-white{
    background-color: white;
}

header{
    font-weight: bold;
    font-size: 12px;
    /* padding-left: 15px; */
}
.header-top{
    min-height: 50px;
    padding-top: 17px;
}

.header-top-right{
float: right;
}
.header-bottom{
    font-size: 14px;
    background-color: white;
}

.header-top-left {
    overflow: hidden;
    text-overflow: ellipsis;
}
.header-top-left  a{
    display: inline;
    white-space: nowrap;
}

.img-logo{
    max-width: 142px;
    padding-top: 13px;
}

.header-top a span{
    color: rgb(3, 27, 78);
    border-radius: 4px;
    background-color:rgb(0, 215, 210);
    padding: 5px 8px;
}

button{
margin-top: 8px;
}

.prima-pagina{
    background-image: url(img/sfondopesci.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.prima-pagina-testo{
    padding: 50px 0;
}

.prima-pagina-testo p:first-child {
    font-weight: bold;
    font-size: 60px;
}
.prima-pagina-testo p:nth-child(2) {
    font-size: 24px;
}
.bottone button{
    background-color: #0069ff;
    font-size: 16px;
    /* font-style: normal;
    font-weight: 400px; */
    border-radius: 5px;
    border: 1px solid white;
}
.bottone{
    padding: 10 60px;
}
