/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
a{
    text-decoration: none;
}

header{
    font-weight: bold;
    font-size: 12px;
}
.header-top{
    min-height: 50px;
    padding-top: 10px;
}

.header-top-right{
float: right;
}
.header-bottom{
    font-size: 14px;
}

.header-top-left a{
    overflow: hidden;
    text-overflow: ellipsis;
}

.img-logo{
/* float: left; */
max-width: 142px;
/* max-width: auto; */
max-height: 40px;
/* background-size: contain; */
}
