/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
a{
    text-decoration: none;
}
.white{
    color: white;
}

.bc-white{
    background-color: white;
}

header{
    font-weight: bold;
    font-size: 12px;
    /* padding-left: 15px; */
}
.header-top{
    min-height: 50px;
    padding-top: 17px;
}

.header-top-right{
float: right;
}
.header-bottom{
    font-size: 14px;
    background-color: white;
}

.header-top-left {
    overflow: hidden;
    text-overflow: ellipsis;
}
.header-top-left  a{
    display: inline;
    white-space: nowrap;
}

.img-logo{
    max-width: 142px;
    padding-top: 13px;
}

.header-top a span{
    color: rgb(3, 27, 78);
    border-radius: 4px;
    background-color:rgb(0, 215, 210);
    padding: 5px 8px;
}

button{
margin-top: 8px;
}

.prima-pagina{
    background-image: url(img/sfondopesci.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.prima-pagina-testo{
    padding: 50px 0;
}

h1{
    font-weight: bold;
    font-size: 60px;
}
.prima-pagina-testo p:nth-child(2) {
    font-size: 24px;
}
.bottone button{
    background-color: #0069ff;
    font-size: 16px;
    /* font-style: normal;
    font-weight: 400px; */
    border-radius: 5px;
    border: 1px solid white;
    width: 100%;
}
.prima-pagina-testo p:nth-child(3) {
    font-size: 16px;
}
.navbar-default{
    background-color: white;
}

.bottoni{
    color: #031b4e;
    background: #f2f8ff;
    border: 1px solid rgba(0,105,255,.2);
    border-radius: 3px;
    padding: 10px 50px;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
}

.termini{
    margin-top: 20px;
}

.contenitore-icone a i{
    position: absolute;
    left: 6px;
    transform: translateY(-50%);
    top: 50%;
}

.bottone .btn, .margine{
    margin-bottom: 20px;
}
/* .separatore::{before,
.separatore::after, .separatore-invert::before,
.separatore-invert::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: calc((100% - 60px) / 2);
    height: 3px;
}

.separatore::before,
.separatore::after {
    background-color: white;
}

.separatore-invert::before,
.separatore-invert::after {
    background-color: #2D3E50;
}

.separatore::before, .separatore-invert::before {
    left: 0;
}

.separatore::after, .separatore-invert::after {
    right: 0;
} */
